<div class="row">
  <!-- Sidebar -->
  <div class="col-md-3 col-xl-2 px-sm-2 px-0 bg-dark-subtle">
    <app-navbar></app-navbar>
  </div>
  <!-- Main Content -->
  <div class="col-md-9 col-xl-10">
    <div class="container">
      <div class="row">
        <div class="col py-3">
          <h2>Dashboard</h2>
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" routerLink="/list">1. Student</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">2. Faculty</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" routerLink="/form">3. Internship Registration</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
